.case-image-img {
    width: 100%;
    height: 400px;
}

.case-image {
    width: 100%;
    height: 100%;
    background-image: url('../img/office.jpg');
    background-size: cover; 
    background-position: center;
}